.divcentral {
    display: flex;
    flex-direction: column;
}

.panel {
    background-color: #FFF;
    display: grid;
    grid-template-columns: 65fr 35fr;
}

.primeiraColuna {
    border-right: 1px solid gray;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 530px;
}

.imgcelular {
    height: 70%;
}


