.navbar {
    display: flex;
    background-color: rgba(60, 79, 118, 1);
    padding: 1em;
    justify-content: right;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
}

.item a {
    color: rgba(40, 56, 89, 1);
    text-decoration: none;
    font-size: 17px;
}

.item a:hover {
    color: #7D8EB2;
}

.selecionado {
    text-decoration: none;
    
    font-size: 17px;
    margin-right: 1em;
    color: #FFF;
}

.selecionado:hover {
    color: #7D8EB2;
}