.titulo {
    color: rgba(60, 79, 118, 1);
    padding: 3% 0% 4% 3%;
}

.divcentral {
    margin: auto;

    background-color: #FFF;
    height: 70vh;
    width: 70%;
    
}

.quantidadepreco {
    display: flex;
    background-color: rgba(243, 242, 245, 1);
    padding: 1% 2% 0.2% 0%;
    justify-content: right;
    border-radius: 10px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    color: rgba(35, 59, 108, 1);
    margin-right: 4em;
    font-weight: 700;
    font-size: 20px;
}

.divinfo {
    display: flex;
}

.produto {
    display: flex;
    float: left;
    width: 60%;
    height: 30vh;
    /* background-color: blue; */
}

.prodimg {
    padding-left: 10%;
}

.descprod {
    padding-left: 5%;
    padding-top: 3%;
}

.descprod p {
    padding-bottom: 2%;
}

.descprod h4 {
    color: rgba(60, 79, 118, 1);
}

.quantidade {
    width: 20%;
    height: 30vh;
    /* background-color: red; */
}

.preco {
    width: 20%;
    height: 30vh;
    /* background-color: black; */
}

.input {
    margin: auto;
    display: block;
    text-decoration: none;
    border: none;

    height: 40px;
    width: 40%; 

    margin-top: 10%;

    border: rgba(49, 48, 51, 0.1);
    border-width: 1px;
    border-style: groove;
    background-color: #F8F8FA;
    border-radius: 5px;
    text-indent: 10px;
}

.novopreco {
    padding: 5% 0% 0% 5%;
}

.divsubtotal {
    display: flex;
}

.subtotal {
    width: 70%;
    height: 25vh;
    padding-top: 1%;
    padding-right: 2%;
    text-align: right;
}

.valor {
    width: 30%;
    height: 25vh;
}

.button {
    text-decoration: none;
    border: none;

    width: 80%;
    justify-content: center;
    display: flex;
    margin-top: 5%;

    background-color:rgba(67, 188, 205, 1);
    color: #FFF;
    font-size: 14px;

    border-radius: 5px;
    padding: 10px 45px;
} 

.button:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #3B5998;
}
