.titulo {
    color: rgba(60, 79, 118, 1);
    padding: 3% 0% 4% 3%;
}

.divcentral {
    margin: auto;

    background-color: #FFF;
    height: 70vh;
    width: 70%;
    
}

.quantidadepreco {
    display: flex;
    background-color: rgba(243, 242, 245, 1);
    padding: 1% 2% 0.2% 0%;
    justify-content: right;
    border-radius: 10px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    color: rgba(35, 59, 108, 1);
    margin-right: 4em;
    font-weight: 700;
    font-size: 20px;
}

.divinfo {
    display: flex;
}

.produto {
    width: 60%;
    height: 30vh;
    background-color: blue;
}

.quantidade {
    width: 20%;
    height: 30vh;
    /* background-color: red; */
}

.preco {
    width: 20%;
    height: 30vh;
    /* background-color: black; */
}

.novopreco {
    padding: 5% 0% 0% 5%;

}